<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Interne</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='connexion_interne.css')}}">
</head>
<body>
    <div class="signin">
        <div class="content">
            <h2>Connexion</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        
            <form method="POST" action="{{ url_for('connexion_interne') }}" class="form">
                <div class="inputBox">
                    <label for="username" class="visually-hidden">Nom d'utilisateur :</label>
                    <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required>
                </div>

                <div class="inputBox">
                    <label for="password" class="visually-hidden">Mot de passe :</label>
                    <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                </div>

                <div class="inputBox">
                    <input type="submit" value="Se connecter">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
